<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css" />
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
  <title>{% block title %}{% endblock %} - My Webpage</title>
{% endblock %}
</head>
<body>
<div class="container">
  <div id="content">{% block content %}{% endblock %}</div>
</div>
<h2></h2>
<div class="container" id="footer">
  <hr />
  {% block footer %}
  Created by Hussain.
  {% endblock %}
</div>
</body>

