{% extends "base.html" %}
{% block title %}Moniter{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">

  </style>
{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% include 'header.html' %}

<div>
<span class="col-md-3 col-sm-6 col-xs-12">{{ data.users }}  users</span>
<span class="col-md-3 col-sm-6 col-xs-12">{{ data.uptime }} uptime</span>
<span class="col-md-3 col-sm-6 col-xs-12">{{ data.num_cpus }} cpus</span>
</div>
<div>
<table class="table table-bordered">
<caption>total {{ data.num_proc }} processes</caption>
<tr class="well well-sm">
<th class="col-md-1">PID</th>
<th class="col-md-1">User</th>
<th class="col-md-2">Created at</th>
<th class="col-md-1">CPU</th>
<th class="col-md-7">Command</th>
</tr>

{% for process in data.proc %}
<tr>
<td> {{ process[0] }} </td>
<td> {{ process[1] }} </td>
<td> {{ process[2] }} </td>
<td> {{ process[3] }} </td>
<td> {{ process[4] }} </td>
</tr>
{% endfor %}

</table>
{% endblock %}
